* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Header */

.header__container {
	display: flex;
	max-width: 1920px;
}
.header__logo {
	width: 224px;
	height: 72px;
	padding: 14px 0px 14px 75px;
}
.header__nav {
	margin-left: auto;
}
.header__nav-list {
	display: flex;
	margin-left: 150px;
}
.header__nav-item {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	padding: 39px 85px 39px 0px;
}
.header__nav-item a {
	color: #333333;
}
.header__nav-item a:hover {
	color: #ff9900;
}
.header__nav-search {
	padding: 38px 75px 38px 85px;
}

/* Main */

.main {
	max-width: 1770px;
	margin: 0 auto;
}
.main__scroll {
	width: 1770px;
	background-image: url('/imeges/low-angle-photo-of-balconies-2462015\ 1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.main__heading {
	font-size: 70px;
	font-family: 'Montserrat', sans-serif;
	font-weight: ExtraBold;
	color: #ffffff;
	padding: 100px 853px 0px 80px;
}
.main__subheading {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #ffffff;
	padding: 0px 900px 90px 80px;
}
.main__form {
	padding-left: 80px;
	padding-bottom: 55px;
}
.main__btn {
	width: 280px;
	height: 78px;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	background-color: #ff9900;
	border-color: #ff9900;
}
.main__scroll-buttons {
	padding: 0px 0px 30px 843px;
}
.main__scroll-buttons-img {
	width: 15px;
	height: 15px;
	margin-left: 20px;
}

/* Main about */

.main__about {
	max-width: 1235px;
}
.main__about-heading {
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333333;
	padding: 100px 0px 20px 0px;
}
.main__about-text {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333333;
	padding-bottom: 50px;
}

/* Main about info */

.main__about-info {
	display: flex;
	max-width: 1770px;
}
.main__about-block-left {
	max-width: 868px;
	background-image: url('/imeges/Rectangle\ 2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.main__about-block-left-info {
	display: flex;
}
.main__about-block-left-text {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ffffff;
	padding: 476px 139px 50px 50px;
	z-index: 1;
}
.main__about-block-left-btn {
	max-width: 200px;
	height: 60px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #ffffff;
	background-color: #ff9900;
	margin-top: 494px;
	margin-right: 50px;
	z-index: 1;
}
.main__about-block-left-img {
	max-width: 868px;
	margin-bottom: -617px;
	opacity: 0.5;
}

.main__about-block-head {
	display: flex;
	max-width: 870px;
}
.main__about-block-right-img {
	width: 195px;
	height: 165px;
	margin: 65px 50px 65px 92px;
}
.main__about-block-right-heding {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #333333;
	margin-top: 65px;
}
.main__about-block-right-head-text {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333333;
}

.main__about-block-foot {
	display: flex;
	max-width: 870px;
}
.main__about-block-right-img-foot {
	width: 195px;
	height: 165px;
	margin: 97px 50px 65px 92px;
}
.main__about-block-foot-heding {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #333333;
	margin-top: 97px;
}

/* Main about work */

.main__about-work {
	max-width: 1770px;
	margin-top: 100px;
}
.main__about-work-heading {
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333333;
}
.main__about-work-list-item {
	display: flex;
}
.main__about-work-item {
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	padding: 50px 85px 45px 0px;
}
.main__about-work-link {
	color: #333333;
}
.main__about-work-link:hover {
	color: #e1670e;
}
.main__about-work-steep-one {
	display: flex;
}
.main__about-work-steep-heading {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #333333;
	padding-top: 45px;
}
.main__about-work-steep-text {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333333;
	padding-bottom: 50px;
}
.main__about-work-steep-form {
	display: flex;
}
.main__about-work-steep-btn-right {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #ffffff;
	background-color: #ff9900;
	border-color: #ff9900;
	padding: 20px 38px;
	margin-right: 32px;
}
.main__about-work-steep-btn-left {
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333333;
	background-color: white;
	border-color: #333333;
	padding: 20px 38px;
}
.main__about-work-steep-img {
	max-width: 870px;
	margin-left: 142px;
	margin-right: auto;
}

.main__questions {
	max-width: 1770px;
	margin-top: 100px;
}
.main__questions-heading {
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #333333;
}
.main__questions-line {
	max-width: 1770px;
}
.main__questions-list {
	max-width: 1770px;
}
.main__questions-item {
	display: flex;
	padding-top: 31px;
	padding-bottom: 31px;
}
.main__questions-text {
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #333333;
}
.main__questions-img {
	width: 50px;
	height: 50px;
	margin-top: 15px;
}
.main__questions-img-block {
	margin-left: auto;
}

/* Header media*/

@media (max-width: 1920px) and (min-width: 1021px) {
	.header__menu {
		display: none;
	}
}

/* Header media 1020px*/
@media (max-width: 1020px) {
	.header__nav-item {
		display: none;
	}
	.header__container {
		max-width: 1024px;
		height: 100px;
	}
	.header__menu {
		width: 30px;
		height: 32px;
		margin-top: 38px;
		margin-left: 75px;
	}
	.header__logo {
		width: 150px;
		height: 40px;
		margin-left: 220px;
	}
	.header__nav-search {
		margin-left: 236px;
	}
	/* Main scroll media 1020px */
	.main {
		max-width: 1020px;
	}
	.main__scroll {
		max-width: 924px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.main__heading {
		font-size: 60px;
		padding: 160px 77px 16px 77px;
	}
	.main__subheading {
		font-size: 20px;
		padding: 0px 187px 60px 77px;
	}
	.main__form {
		padding: 60px 567px 115px 77px;
	}
	.main__scroll-buttons {
		padding: 0px 400px 115px 400px;
	}
	.main__about {
		max-width: 925px;
		margin-left: 49px;
	}
	.main__about-info {
		display: block;
	}
	.main__about-block-left {
		max-width: 924px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.main__about-work {
		max-width: 924px;
		margin-left: 50px;
	}
	.main__about-work-steep-text {
		max-width: 437px;
	}
	.main__about-work-steep-img {
		max-width: 437px;
		margin-top: 62px;
		margin-right: 50px;
	}
	.main__questions {
		max-width: 924px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.main__questions-line {
		max-width: 924px;
	}
}

/* Header media 768px */
@media (max-width: 768px) {
	.header__nav-item {
		display: none;
	}
	.header__container {
		max-width: 768px;
		height: 69px;
	}
	.header__menu {
		width: 30px;
		height: 32px;
		margin-top: 40px;
		margin-left: 50px;
	}
	.header__logo {
		width: 150px;
		height: 48px;
		margin-top: 10px;
		margin-left: 100px;
	}
	.header__nav-search {
		margin-left: 100px;
	}
	/* Main scroll media 768px */
	.main {
		max-width: 768px;
	}
	.main__scroll {
		max-width: 668px;
		margin-left: 50px;
		margin-right: 50px;
	}
	.main__heading {
		font-size: 50px;
		padding: 160px 40px 16px 40px;
	}
	.main__subheading {
		font-size: 18px;
		padding: 0px 40px 60px 40px;
	}
	.main__form {
		padding: 0px 348px 115px 40px;
	}
	.main__scroll-buttons {
		padding: 0px 250px 30px 292px;
	}
	.main__about {
		max-width: 668px;
		margin-left: 50px;
	}
}

/* Header media 320px */
@media (max-width: 320px) {
	.header__nav-item {
		display: none;
	}
	.header__container {
		max-width: 320px;
	}
	.header__menu {
		width: 30px;
		height: 32px;
		margin-top: 40px;
		margin-left: 15px;
	}
	.header__logo {
		width: 110px;
		height: 35px;
		margin-top: 10px;
		margin-left: 60px;
	}
	.header__nav-search {
		margin-left: 66px;
	}
	/* Main scroll media 320px */
	.main {
		max-width: 320px;
	}
	.main__scroll {
		max-width: 290px;
		margin-left: 15px;
		margin-right: 15px;
	}
	.main__heading {
		font-size: 20px;
		padding: 60px 21px 6px 22px;
	}
	.main__subheading {
		font-size: 12px;
		padding: 0px 21px 32px 22px;
	}
	.main__form {
		padding: 0px 64px 35px 64px;
	}
	.main__scroll-buttons {
		padding: 0px 70px 15px 70px;
	}
	.main__btn {
		width: 162px;
		height: 40px;
		font-size: 12px;
	}
	.main__about {
		max-width: 290px;
		margin-right: 15px;
		margin-left: 15px;
	}
	.main__about-heading {
		font-size: 24px;
	}
	.main__about-text {
		font-size: 14px;
	}
}
